.adress {
	margin: 113px 0 0 0;

	&__shell {
		display: flex;
		flex-direction: column;
	}

	&__legend {
		@include font(16px, 19px, 300);
		text-transform: uppercase;
	}

	&__field {
		width: 360px;
		height: 45px;
		margin: 20px 0 0 0;
		border: 1px solid $transparent-gray;

		&::placeholder {
			text-transform: capitalize;
			padding: 0 0 0 17px;
		}
	}

	&__btn {
		@include font(11px, 13px, 300);
		border: 1px solid $transparent-gray;
		color: $transparent-gray;
		text-transform: uppercase;
		background: transparent;
		padding: 10px 15px;
		width: 35%;
		margin: 23px 0 0 0;

		&:hover {
			background-color: $dark-pink;
			border: $dark-pink;
			color: $white;
		}
	}
}

.checkout {
	background: #F5F3F3;
	margin: 57px 0 0 0;

	&__list {
		height: 214px;
		display: flex;
		flex-direction: column
	}

	&__item {
		&:last-child {
			display: flex;
			justify-content: center;
		}

		&:nth-child(2) {
			position: relative;
		}
	}

	&__text {
		@include font(11px, 13px);
		text-transform: uppercase;
		text-align: right;
		margin: 39px 34px 0 0;
	}

	&__subtext {
		@include font(16px, 19px, 300);
		text-transform: uppercase;
		text-align: right;
		margin: 12px 37px 40px 0;

		&::before {
			content: '';
			background: #E2E2E2;
			width: 275px;
			height: 1px;
			position: absolute;
			top: 50px;
			left: 43px;
		}
	}

	&__btn {
		@include font(16px, 19px, 300);
		color: $white;
		border: 1px solid $dark-pink;
		background: $dark-pink;
		text-transform: uppercase;
		padding: 15px 41px;
	}

	&__pink {
		color: $dark-pink;
	}
}


