.copyright {
	background-color: $black;
	align-items: center;

		&__box {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@include mobile {
				flex-direction: column-reverse;
			}
		}

		&__text {
			@include font(16px, 19px);
			display: block;
			color: $white;
			margin: 30px 0 30px 0;

			@include mobile {
				margin: 25px 0 25px 0;
			}
		}

		&__list {
			display: flex;

			@include mobile {
				margin: 25px 0 0 0;
			}
		}

		&__item {

			&:not(last-child) {
				margin: 0 7px 0 0;
			}
		}
}