.feature {
	background-color: $black;

	&__list {
		display: flex;
		justify-content: space-between;
		text-align: center;
		color: $white;
	}

	&__item {
		margin: 104px 0 104px 0;
	}

	&__box {
		width: 360px;
	}

	&__title {
		@include font(20px, 24px);
		margin: 25px 0 16px 0;
	}
}