.menu-sub-item {

	&__title {
		@include font(14px, 17px);
		color: $dark-pink;
		text-transform: uppercase;
		margin: 20px 0 0 0;
	}

	&__item {
		margin: 12px 0 0 20px;
	}
}

.display-block {
	display: block;
}