.perks {
	max-width: 652px;
	margin: 64px 0 0 0;

	&__title {
		@include font(24px, 29px, 300);
		text-transform: uppercase;
	}

	&__text {
		@include font(24px, 29px, 300);
		margin: 22px 0;
	}

	&__list {
		@include font(24px, 29px, 300);
	}

	&__item {
		position: relative;
		margin: 0 0 16px 46px;

		&::before {
			content: '';
			position: absolute;
			background-image: url(/img/regist/check-mark.svg);
			background-size: 20px 16px;
			width: 20px;
			height: 16px;
			margin: 7px 0 0 -46px;
			background-repeat: no-repeat;
		}
	}
}