.products {
	text-align: center;
	margin: 97px 0 0 0;

	&__title {
		@include font(30px, 36px);
		text-transform: capitalize; 
	}

	&__text {
		color: $gray;
		margin: 6px 0 48px 0;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		text-align: left;
	}

	&__item {
		background: $darkwhite;
		width: 360px;
		height: 581px;

		&:nth-child(2) {
			margin: 0 30px 30px 30px;
		}

		&:nth-child(5) {
			margin: 0 30px 48px 30px;
		}
	}

	&__cards {
		position: relative;

	}

	&__button {
		@include font(14px, 17px, 300);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 1px solid $white;
		background-color: transparent;
		padding: 14px 15px 14px 50px;
		text-transform: capitalize;
		color: $white;
		display: none;

		&::before {
			width: 25px;
			height: 25px;
			content: '';
			background-image: url(/img/products/StrokeEffect.svg);
			background-repeat: no-repeat;
			background-size: 25px 25px;
			position: absolute;
			left: 13px;
			top: 10px;
		}
	}

	&__box {
		margin: 0 0 0 18px;
	}

	&__subtitle {
		@include font(13px, 16px);
		text-transform: uppercase;
		margin: 25px 0 0 0;
	}

	&__subtext {
		color: $darkgray;
		margin: 13px 0 25px 0;
	}

	&__link {
		@include font(16px, 19px);
		color: $dark-pink;
	}

	&__overlay {
		width: 100%;
		min-height: 420px;
		background: rgba(58, 56, 56, 0.86);
		position: absolute;
		top: 0;
		display: none;
	}

	&__btn {
		@include font(16px, 19px);
		border: 1px solid $dark-pink;
		color: $dark-pink;
		background: none;
		padding: 14px 38px 14px 38px;
		text-transform: capitalize;
		margin: 0 0 109px 0;

		&:hover {
			background-color: $dark-pink;
			color: $white;
		}
	}
}

.products__cards:hover .products__button,
.products__cards:hover .products__overlay,
.products__cards:hover {
display: block;
}