.sale {
	margin: 64px 0 0 0;

	&__list {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 360px;
		height: 260px;

		&:first-child {
			background-image: url(../img/offer/women.jpg);
		}

		&:last-child {
			background-image: url(../img/offer/accesories.jpg);
			width: 100%;
			height: 180px;
		}

		&:nth-child(2) {
			background-image: url(../img/offer/man.jpg);
			margin: 0 30px 30px 30px;
		}

		&:nth-child(3) {
			background-image: url(../img/offer/kids.jpg);
		}
	}

	&__text {
		@include font(16px, 19px);
		text-transform: uppercase;
		color: $white;
	}

	&__title {
		@include font(18px, 22px, 900);
		color: $dark-pink;
		text-transform: uppercase;
	}
}
